In [3]:
import pandas as pd
import numpy as np

In [9]:
z = pd.DataFrame({'x':[1,2,3,4,5], 'y':[6,8,np.nan,9,10],'a':["a","b","c",np.nan,"e"],'b':["f",'g','h','j','k']})

In [10]:
z

   x     y    a  b
0  1   6.0    a  f
1  2   8.0    b  g
2  3   NaN    c  h
3  4   9.0  NaN  j
4  5  10.0    e  k

In [11]:
z1 = z.fillna("vide")

In [12]:
z1

   x     y     a  b
0  1     6     a  f
1  2     8     b  g
2  3  vide     c  h
3  4     9  vide  j
4  5    10     e  k

In [13]:
z2 = z['a'].fillna(0)

In [14]:
z2

0    a
1    b
2    c
3    0
4    e
Name: a, dtype: object

In [19]:
z

   x     y    a  b
0  1   6.0    a  f
1  2   8.0    b  g
2  3   NaN    c  h
3  4   9.0  NaN  j
4  5  10.0    e  k

In [20]:
z['a']=z['a'].fillna(0)

In [21]:
z

   x     y  a  b
0  1   6.0  a  f
1  2   8.0  b  g
2  3   NaN  c  h
3  4   9.0  0  j
4  5  10.0  e  k