In [5]:
import pandas as pd
import numpy as np
import pyodbc

In [6]:
df = pd.DataFrame({'CONTRAT':['C1', 'C1','C1','C2','C2'], 
                   'GARANTIE':['G01', 'G02','G03','G01','G03'],
                   'HT':[10.0,11.0,12.0,21.0,22.0],
                   'TTC':[15.0,16.0,17.0,29.0,30.0]
                  });df

  CONTRAT GARANTIE    HT   TTC
0      C1      G01  10.0  15.0
1      C1      G02  11.0  16.0
2      C1      G03  12.0  17.0
3      C2      G01  21.0  29.0
4      C2      G03  22.0  30.0

In [7]:
conn = pyodbc.connect('DSN=WINPASS_SATEC_RO_64;')

In [8]:
sql1 = "select * from table_cg1  where CONTRAT in( '10778', '11244','10933', '11026','11296','11300','11323','11355','11357','11365') "

In [9]:
sql1 = "select * from table_cg1"

In [10]:
df = pd.read_sql_query(sql=sql1, con=conn)

In [11]:
df.columns

Index(['f_NCONTRAT', 'CONTRAT', 'NC', 'REF_CGAIM', 'LCGAIM', 'AGENCE',
       'AGENCE_A1', 'AGENCE_A2', 'AGENCE_CP', 'AGENCE_VILLE', 'CHANTIER1',
       'CHANTIER2', 'CHANTIER3', 'CPCHANTIER', 'VILLECHANT', 'Debut', 'Fin',
       'NATURE1', 'NATURE2', 'NATURE3', 'COUTTX', 'COUTTX1', 'COUTTX2',
       'COUTTX3', 'COUTTX4', 'COUTTX5', 'COUTTX6', 'COUTTX7', 'COUTTX8',
       'COUTTX9', 'GARANTIE', 'GARANTIEG', 'FRAIS', 'PRIME', 'HT', 'TTC',
       'PRIMEG', 'TTCG', 'COM', 'ligq_commission', 'DTSITUATION', 'DOMAGIS_ON',
       'DTRECOUVREMENT', 'MOUVEMENT', 'STATUT', 'TXCOM'],
      dtype='object')

In [12]:
df[['CONTRAT','NC','GARANTIE','GARANTIEG','FRAIS','PRIME','HT','TTC','PRIMEG','TTCG','COM']]

,CONTRAT,NC,GARANTIE,GARANTIEG,FRAIS,PRIME,HT,TTC,PRIMEG,TTCG,COM
0,10778,2,G01,G01,0,1355.91,1355.91,1477.94,1355.91,1477.94,249.37
1,10778,2,G02,G02,0,338.97,338.97,369.48,338.97,369.48,249.37
2,10778,2,G03,G03,0,150.65,150.65,164.21,150.65,164.21,249.37
3,10778,2,G04,G04,0,37.66,37.66,41.05,37.66,41.05,249.37
4,10778,2,G05,G05,0,93.41,93.41,100.27,93.41,100.27,249.37
...,...,...,...,...,...,...,...,...,...,...,...
59937,9191,1,G05,G05,0,72.71,72.71,78.05,72.71,78.05,198.37
59938,9191,1,G06,G06,0,81.45,81.45,88.78,81.45,88.78,198.37
59939,9191,1,G07,G07,0,8.73,8.73,9.43,8.73,9.43,198.37
59940,9191,1,G08,G08,0,5.90,5.90,5.90,5.90,5.90,198.37
59941,9191,1,GFG,GFG,0,48.00,48.00,48.00,48.00,48.00,198.37

In [13]:
df.head()

,f_NCONTRAT,CONTRAT,NC,REF_CGAIM,LCGAIM,AGENCE,AGENCE_A1,AGENCE_A2,AGENCE_CP,AGENCE_VILLE,...,PRIMEG,TTCG,COM,ligq_commission,DTSITUATION,DOMAGIS_ON,DTRECOUVREMENT,MOUVEMENT,STATUT,TXCOM
0,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,1355.91,1477.94,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0
1,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,338.97,369.48,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0
2,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,150.65,164.21,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0
3,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,37.66,41.05,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0
4,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,93.41,100.27,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0

In [14]:
df[(df['CONTRAT']=='10778')&(df['NC']=='2')]

,f_NCONTRAT,CONTRAT,NC,REF_CGAIM,LCGAIM,AGENCE,AGENCE_A1,AGENCE_A2,AGENCE_CP,AGENCE_VILLE,...,PRIMEG,TTCG,COM,ligq_commission,DTSITUATION,DOMAGIS_ON,DTRECOUVREMENT,MOUVEMENT,STATUT,TXCOM
0,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,1355.91,1477.94,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0
1,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,338.97,369.48,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0
2,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,150.65,164.21,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0
3,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,37.66,41.05,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0
4,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,93.41,100.27,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0
5,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,104.62,114.04,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0
6,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,11.21,12.11,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0
7,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,5.90,5.90,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0
8,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,48.00,48.00,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0
9,10778/2,10778,2,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,34300,CAP D'AGDE,...,0.00,0.00,249.37,439.41,2016-10-01,DOMAGIS,2017-03-08,44,Modification,11.0

In [15]:
df_long_ttc = df.pivot_table(index=['CONTRAT','NC','COM'],
                             columns =['GARANTIE'], 
                             values =['TTC']).reset_index().fillna(0).rename(columns={'G01':'G01ttc','G02':'G02ttc','G03':'G03ttc','G04':'G04ttc',
                             'G05':'G05ttc','G06':'G06ttc','G07':'G07ttc','G08':'G08ttc','GFG':'GFGttc','SIN':'SINttc'});df_long_ttc

         CONTRAT NC     COM      TTC                                         \
GARANTIE                      G01ttc  G02ttc  G03ttc G04ttc  G05ttc  G06ttc
0          10778  2  249.37  1477.94  369.48  164.21  41.05  100.27  114.04
1          10778  3  353.29  2145.25  536.31  238.36  59.59  145.54  165.53
2          10778  4  117.57   631.66  157.92   70.19  17.55   42.86   48.74
3          10778  5  117.57   631.66  157.92   70.19  17.55   42.86   48.74
4          10778  6  117.57   631.66  157.92   70.19  17.55   42.86   48.74
...          ... ..     ...      ...     ...     ...    ...     ...     ...
6573        8753  7  365.28  2222.19  555.56  246.91  61.73  150.76  171.47
6574        8753  8  199.38  1156.94  289.23  128.55  32.14   78.49   89.27
6575        8753  9  199.38  1156.94  289.23  128.55  32.14   78.49   89.27
6576        8868  1  212.46  2131.43  710.48  236.84  78.94  156.64  175.42
6577        9191  1  198.37  1150.45  287.61  127.82  31.96   78.05   88.78


GARANTIE G07ttc G08ttc GFGttc SINttc
0         12.11    5.9   48.0    0.0
1         17.58    5.9   48.0    0.0
2          5.18    5.9   48.0    0.0
3          5.18    5.9   48.0    0.0
4          5.18    5.9   48.0    0.0
...         ...    ...    ...    ...
6573      18.20    5.9   48.0    0.0
6574       9.48    5.9   48.0    0.0
6575       9.48    5.9   48.0    0.0
6576      18.79    3.3   48.0    0.0
6577       9.43    5.9   48.0    0.0

[6578 rows x 13 columns]

In [16]:
df_long_ht = df.pivot_table(index=['CONTRAT','NC','COM'],
                             columns =['GARANTIE'], 
                             values =['HT']).reset_index().fillna(0).rename(columns={'G01':'G01ht','G02':'G02ht','G03':'G03ht','G04':'G04ht',
                             'G05':'G05ht','G06':'G06ht','G07':'G07ht','G08':'G08ht','GFG':'GFGht','SIN':'SINht'});df_long_ht

         CONTRAT NC     COM       HT                                         \
GARANTIE                       G01ht   G02ht   G03ht  G04ht   G05ht   G06ht
0          10778  2  249.37  1355.91  338.97  150.65  37.66   93.41  104.62
1          10778  3  353.29  1968.12  492.03  218.68  54.67  135.59  151.86
2          10778  4  117.57   579.50  144.88   64.39  16.10   39.93   44.72
3          10778  5  117.57   579.50  144.88   64.39  16.10   39.93   44.72
4          10778  6  117.57   579.50  144.88   64.39  16.10   39.93   44.72
...          ... ..     ...      ...     ...     ...    ...     ...     ...
6573        8753  7  365.28  2038.71  509.69  226.52  56.63  140.45  157.31
6574        8753  8  199.38  1061.41  265.35  117.94  29.49   73.12   81.90
6575        8753  9  199.38  1061.41  265.35  117.94  29.49   73.12   81.90
6576        8868  1  212.46  1955.44  651.82  217.28  72.42  145.93  160.94
6577        9191  1  198.37  1055.46  263.86  117.27  29.32   72.71   81.45


GARANTIE  G07ht G08ht GFGht SINht
0         11.21   5.9  48.0   0.0
1         16.27   5.9  48.0   0.0
2          4.79   5.9  48.0   0.0
3          4.79   5.9  48.0   0.0
4          4.79   5.9  48.0   0.0
...         ...   ...   ...   ...
6573      16.85   5.9  48.0   0.0
6574       8.77   5.9  48.0   0.0
6575       8.77   5.9  48.0   0.0
6576      17.24   3.3  48.0   0.0
6577       8.73   5.9  48.0   0.0

[6578 rows x 13 columns]

In [17]:
new_df_pivot_all = df_long_ht.merge( df_long_ttc, on=['CONTRAT','NC','COM']);new_df_pivot_all

D:\anaconda\lib\site-packages\pandas\core\generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

         CONTRAT NC     COM       HT                                         \
GARANTIE                       G01ht   G02ht   G03ht  G04ht   G05ht   G06ht
0          10778  2  249.37  1355.91  338.97  150.65  37.66   93.41  104.62
1          10778  3  353.29  1968.12  492.03  218.68  54.67  135.59  151.86
2          10778  4  117.57   579.50  144.88   64.39  16.10   39.93   44.72
3          10778  5  117.57   579.50  144.88   64.39  16.10   39.93   44.72
4          10778  6  117.57   579.50  144.88   64.39  16.10   39.93   44.72
...          ... ..     ...      ...     ...     ...    ...     ...     ...
6573        8753  7  365.28  2038.71  509.69  226.52  56.63  140.45  157.31
6574        8753  8  199.38  1061.41  265.35  117.94  29.49   73.12   81.90
6575        8753  9  199.38  1061.41  265.35  117.94  29.49   73.12   81.90
6576        8868  1  212.46  1955.44  651.82  217.28  72.42  145.93  160.94
6577        9191  1  198.37  1055.46  263.86  117.27  29.32   72.71   81.45

                 ...      TTC                                                \
GARANTIE  G07ht  ...   G01ttc  G02ttc  G03ttc G04ttc  G05ttc  G06ttc G07ttc
0         11.21  ...  1477.94  369.48  164.21  41.05  100.27  114.04  12.11
1         16.27  ...  2145.25  536.31  238.36  59.59  145.54  165.53  17.58
2          4.79  ...   631.66  157.92   70.19  17.55   42.86   48.74   5.18
3          4.79  ...   631.66  157.92   70.19  17.55   42.86   48.74   5.18
4          4.79  ...   631.66  157.92   70.19  17.55   42.86   48.74   5.18
...         ...  ...      ...     ...     ...    ...     ...     ...    ...
6573      16.85  ...  2222.19  555.56  246.91  61.73  150.76  171.47  18.20
6574       8.77  ...  1156.94  289.23  128.55  32.14   78.49   89.27   9.48
6575       8.77  ...  1156.94  289.23  128.55  32.14   78.49   89.27   9.48
6576      17.24  ...  2131.43  710.48  236.84  78.94  156.64  175.42  18.79
6577       8.73  ...  1150.45  287.61  127.82  31.96   78.05   88.78   9.43


GARANTIE G08ttc GFGttc SINttc
0           5.9   48.0    0.0
1           5.9   48.0    0.0
2           5.9   48.0    0.0
3           5.9   48.0    0.0
4           5.9   48.0    0.0
...         ...    ...    ...
6573        5.9   48.0    0.0
6574        5.9   48.0    0.0
6575        5.9   48.0    0.0
6576        3.3   48.0    0.0
6577        5.9   48.0    0.0

[6578 rows x 23 columns]

In [18]:
new_df_pivot_all["totalht1"] = new_df_pivot_all[("HT","G01ht")]+new_df_pivot_all[("HT","G02ht")]+new_df_pivot_all[("HT","G03ht")] + new_df_pivot_all[("HT","G04ht")]+new_df_pivot_all[("HT","G05ht")]+new_df_pivot_all[("HT","G06ht")] +new_df_pivot_all[("HT","G07ht")]#+new_df_pivot_all[("HT","G08ht")]

In [19]:
new_df_pivot_all

         CONTRAT NC     COM       HT                                         \
GARANTIE                       G01ht   G02ht   G03ht  G04ht   G05ht   G06ht
0          10778  2  249.37  1355.91  338.97  150.65  37.66   93.41  104.62
1          10778  3  353.29  1968.12  492.03  218.68  54.67  135.59  151.86
2          10778  4  117.57   579.50  144.88   64.39  16.10   39.93   44.72
3          10778  5  117.57   579.50  144.88   64.39  16.10   39.93   44.72
4          10778  6  117.57   579.50  144.88   64.39  16.10   39.93   44.72
...          ... ..     ...      ...     ...     ...    ...     ...     ...
6573        8753  7  365.28  2038.71  509.69  226.52  56.63  140.45  157.31
6574        8753  8  199.38  1061.41  265.35  117.94  29.49   73.12   81.90
6575        8753  9  199.38  1061.41  265.35  117.94  29.49   73.12   81.90
6576        8868  1  212.46  1955.44  651.82  217.28  72.42  145.93  160.94
6577        9191  1  198.37  1055.46  263.86  117.27  29.32   72.71   81.45

                 ...     TTC                                               \
GARANTIE  G07ht  ...  G02ttc  G03ttc G04ttc  G05ttc  G06ttc G07ttc G08ttc
0         11.21  ...  369.48  164.21  41.05  100.27  114.04  12.11    5.9
1         16.27  ...  536.31  238.36  59.59  145.54  165.53  17.58    5.9
2          4.79  ...  157.92   70.19  17.55   42.86   48.74   5.18    5.9
3          4.79  ...  157.92   70.19  17.55   42.86   48.74   5.18    5.9
4          4.79  ...  157.92   70.19  17.55   42.86   48.74   5.18    5.9
...         ...  ...     ...     ...    ...     ...     ...    ...    ...
6573      16.85  ...  555.56  246.91  61.73  150.76  171.47  18.20    5.9
6574       8.77  ...  289.23  128.55  32.14   78.49   89.27   9.48    5.9
6575       8.77  ...  289.23  128.55  32.14   78.49   89.27   9.48    5.9
6576      17.24  ...  710.48  236.84  78.94  156.64  175.42  18.79    3.3
6577       8.73  ...  287.61  127.82  31.96   78.05   88.78   9.43    5.9

                       totalht1
GARANTIE GFGttc SINttc
0          48.0    0.0  2092.43
1          48.0    0.0  3037.22
2          48.0    0.0   894.31
3          48.0    0.0   894.31
4          48.0    0.0   894.31
...         ...    ...      ...
6573       48.0    0.0  3146.16
6574       48.0    0.0  1637.98
6575       48.0    0.0  1637.98
6576       48.0    0.0  3221.07
6577       48.0    0.0  1628.80

[6578 rows x 24 columns]

In [20]:
new_df_pivot_all["totalht1"].where((new_df_pivot_all["CONTRAT"]=='10778')&(new_df_pivot_all["NC"]=='2') )

0       2092.43
1           NaN
2           NaN
3           NaN
4           NaN
         ...
6573        NaN
6574        NaN
6575        NaN
6576        NaN
6577        NaN
Name: totalht1, Length: 6578, dtype: float64

In [21]:
new_df_pivot_all["totalht1"][0]

2092.4300000000003

In [22]:
new_df_pivot_all["totalttc1"] = new_df_pivot_all[("TTC","G01ttc")]+new_df_pivot_all[("TTC","G02ttc")]+new_df_pivot_all[("TTC","G03ttc")] + new_df_pivot_all[("TTC","G04ttc")]+new_df_pivot_all[("TTC","G05ttc")]+new_df_pivot_all[("TTC","G06ttc")] +new_df_pivot_all[("TTC","G07ttc")]+new_df_pivot_all[("TTC","G08ttc")]

In [23]:
new_df_pivot_all

         CONTRAT NC     COM       HT                                         \
GARANTIE                       G01ht   G02ht   G03ht  G04ht   G05ht   G06ht
0          10778  2  249.37  1355.91  338.97  150.65  37.66   93.41  104.62
1          10778  3  353.29  1968.12  492.03  218.68  54.67  135.59  151.86
2          10778  4  117.57   579.50  144.88   64.39  16.10   39.93   44.72
3          10778  5  117.57   579.50  144.88   64.39  16.10   39.93   44.72
4          10778  6  117.57   579.50  144.88   64.39  16.10   39.93   44.72
...          ... ..     ...      ...     ...     ...    ...     ...     ...
6573        8753  7  365.28  2038.71  509.69  226.52  56.63  140.45  157.31
6574        8753  8  199.38  1061.41  265.35  117.94  29.49   73.12   81.90
6575        8753  9  199.38  1061.41  265.35  117.94  29.49   73.12   81.90
6576        8868  1  212.46  1955.44  651.82  217.28  72.42  145.93  160.94
6577        9191  1  198.37  1055.46  263.86  117.27  29.32   72.71   81.45

                 ...     TTC                                              \
GARANTIE  G07ht  ...  G03ttc G04ttc  G05ttc  G06ttc G07ttc G08ttc GFGttc
0         11.21  ...  164.21  41.05  100.27  114.04  12.11    5.9   48.0
1         16.27  ...  238.36  59.59  145.54  165.53  17.58    5.9   48.0
2          4.79  ...   70.19  17.55   42.86   48.74   5.18    5.9   48.0
3          4.79  ...   70.19  17.55   42.86   48.74   5.18    5.9   48.0
4          4.79  ...   70.19  17.55   42.86   48.74   5.18    5.9   48.0
...         ...  ...     ...    ...     ...     ...    ...    ...    ...
6573      16.85  ...  246.91  61.73  150.76  171.47  18.20    5.9   48.0
6574       8.77  ...  128.55  32.14   78.49   89.27   9.48    5.9   48.0
6575       8.77  ...  128.55  32.14   78.49   89.27   9.48    5.9   48.0
6576      17.24  ...  236.84  78.94  156.64  175.42  18.79    3.3   48.0
6577       8.73  ...  127.82  31.96   78.05   88.78   9.43    5.9   48.0

                totalht1 totalttc1
GARANTIE SINttc
0           0.0  2092.43   2285.00
1           0.0  3037.22   3314.06
2           0.0   894.31    980.00
3           0.0   894.31    980.00
4           0.0   894.31    980.00
...         ...      ...       ...
6573        0.0  3146.16   3432.72
6574        0.0  1637.98   1790.00
6575        0.0  1637.98   1790.00
6576        0.0  3221.07   3511.84
6577        0.0  1628.80   1780.00

[6578 rows x 25 columns]

In [24]:
new_df_pivot_all["DOREV"] = new_df_pivot_all["totalttc1"] - new_df_pivot_all["COM"]
new_df_pivot_all

         CONTRAT NC     COM       HT                                         \
GARANTIE                       G01ht   G02ht   G03ht  G04ht   G05ht   G06ht
0          10778  2  249.37  1355.91  338.97  150.65  37.66   93.41  104.62
1          10778  3  353.29  1968.12  492.03  218.68  54.67  135.59  151.86
2          10778  4  117.57   579.50  144.88   64.39  16.10   39.93   44.72
3          10778  5  117.57   579.50  144.88   64.39  16.10   39.93   44.72
4          10778  6  117.57   579.50  144.88   64.39  16.10   39.93   44.72
...          ... ..     ...      ...     ...     ...    ...     ...     ...
6573        8753  7  365.28  2038.71  509.69  226.52  56.63  140.45  157.31
6574        8753  8  199.38  1061.41  265.35  117.94  29.49   73.12   81.90
6575        8753  9  199.38  1061.41  265.35  117.94  29.49   73.12   81.90
6576        8868  1  212.46  1955.44  651.82  217.28  72.42  145.93  160.94
6577        9191  1  198.37  1055.46  263.86  117.27  29.32   72.71   81.45

                 ...    TTC                                              \
GARANTIE  G07ht  ... G04ttc  G05ttc  G06ttc G07ttc G08ttc GFGttc SINttc
0         11.21  ...  41.05  100.27  114.04  12.11    5.9   48.0    0.0
1         16.27  ...  59.59  145.54  165.53  17.58    5.9   48.0    0.0
2          4.79  ...  17.55   42.86   48.74   5.18    5.9   48.0    0.0
3          4.79  ...  17.55   42.86   48.74   5.18    5.9   48.0    0.0
4          4.79  ...  17.55   42.86   48.74   5.18    5.9   48.0    0.0
...         ...  ...    ...     ...     ...    ...    ...    ...    ...
6573      16.85  ...  61.73  150.76  171.47  18.20    5.9   48.0    0.0
6574       8.77  ...  32.14   78.49   89.27   9.48    5.9   48.0    0.0
6575       8.77  ...  32.14   78.49   89.27   9.48    5.9   48.0    0.0
6576      17.24  ...  78.94  156.64  175.42  18.79    3.3   48.0    0.0
6577       8.73  ...  31.96   78.05   88.78   9.43    5.9   48.0    0.0

         totalht1 totalttc1    DOREV
GARANTIE
0         2092.43   2285.00  2035.63
1         3037.22   3314.06  2960.77
2          894.31    980.00   862.43
3          894.31    980.00   862.43
4          894.31    980.00   862.43
...           ...       ...      ...
6573      3146.16   3432.72  3067.44
6574      1637.98   1790.00  1590.62
6575      1637.98   1790.00  1590.62
6576      3221.07   3511.84  3299.38
6577      1628.80   1780.00  1581.63

[6578 rows x 26 columns]

In [25]:
new_df_pivot_all["DOTAX7"] = new_df_pivot_all[("HT","G05ht")] *(7.34/100)

In [26]:
new_df_pivot_all

         CONTRAT NC     COM       HT                                         \
GARANTIE                       G01ht   G02ht   G03ht  G04ht   G05ht   G06ht
0          10778  2  249.37  1355.91  338.97  150.65  37.66   93.41  104.62
1          10778  3  353.29  1968.12  492.03  218.68  54.67  135.59  151.86
2          10778  4  117.57   579.50  144.88   64.39  16.10   39.93   44.72
3          10778  5  117.57   579.50  144.88   64.39  16.10   39.93   44.72
4          10778  6  117.57   579.50  144.88   64.39  16.10   39.93   44.72
...          ... ..     ...      ...     ...     ...    ...     ...     ...
6573        8753  7  365.28  2038.71  509.69  226.52  56.63  140.45  157.31
6574        8753  8  199.38  1061.41  265.35  117.94  29.49   73.12   81.90
6575        8753  9  199.38  1061.41  265.35  117.94  29.49   73.12   81.90
6576        8868  1  212.46  1955.44  651.82  217.28  72.42  145.93  160.94
6577        9191  1  198.37  1055.46  263.86  117.27  29.32   72.71   81.45

                 ...     TTC                                     totalht1  \
GARANTIE  G07ht  ...  G05ttc  G06ttc G07ttc G08ttc GFGttc SINttc
0         11.21  ...  100.27  114.04  12.11    5.9   48.0    0.0  2092.43
1         16.27  ...  145.54  165.53  17.58    5.9   48.0    0.0  3037.22
2          4.79  ...   42.86   48.74   5.18    5.9   48.0    0.0   894.31
3          4.79  ...   42.86   48.74   5.18    5.9   48.0    0.0   894.31
4          4.79  ...   42.86   48.74   5.18    5.9   48.0    0.0   894.31
...         ...  ...     ...     ...    ...    ...    ...    ...      ...
6573      16.85  ...  150.76  171.47  18.20    5.9   48.0    0.0  3146.16
6574       8.77  ...   78.49   89.27   9.48    5.9   48.0    0.0  1637.98
6575       8.77  ...   78.49   89.27   9.48    5.9   48.0    0.0  1637.98
6576      17.24  ...  156.64  175.42  18.79    3.3   48.0    0.0  3221.07
6577       8.73  ...   78.05   88.78   9.43    5.9   48.0    0.0  1628.80

         totalttc1    DOREV     DOTAX7
GARANTIE
0          2285.00  2035.63   6.856294
1          3314.06  2960.77   9.952306
2           980.00   862.43   2.930862
3           980.00   862.43   2.930862
4           980.00   862.43   2.930862
...            ...      ...        ...
6573       3432.72  3067.44  10.309030
6574       1790.00  1590.62   5.367008
6575       1790.00  1590.62   5.367008
6576       3511.84  3299.38  10.711262
6577       1780.00  1581.63   5.336914

[6578 rows x 27 columns]

In [27]:
new_df_pivot_all["DOTAX8"] = 0

In [28]:
new_df_pivot_all["DOTAX9"] = new_df_pivot_all[("totalht1")] *(9.00/100)

In [29]:
new_df_pivot_all

         CONTRAT NC     COM       HT                                         \
GARANTIE                       G01ht   G02ht   G03ht  G04ht   G05ht   G06ht
0          10778  2  249.37  1355.91  338.97  150.65  37.66   93.41  104.62
1          10778  3  353.29  1968.12  492.03  218.68  54.67  135.59  151.86
2          10778  4  117.57   579.50  144.88   64.39  16.10   39.93   44.72
3          10778  5  117.57   579.50  144.88   64.39  16.10   39.93   44.72
4          10778  6  117.57   579.50  144.88   64.39  16.10   39.93   44.72
...          ... ..     ...      ...     ...     ...    ...     ...     ...
6573        8753  7  365.28  2038.71  509.69  226.52  56.63  140.45  157.31
6574        8753  8  199.38  1061.41  265.35  117.94  29.49   73.12   81.90
6575        8753  9  199.38  1061.41  265.35  117.94  29.49   73.12   81.90
6576        8868  1  212.46  1955.44  651.82  217.28  72.42  145.93  160.94
6577        9191  1  198.37  1055.46  263.86  117.27  29.32   72.71   81.45

                 ...    TTC                      totalht1 totalttc1    DOREV  \
GARANTIE  G07ht  ... G07ttc G08ttc GFGttc SINttc
0         11.21  ...  12.11    5.9   48.0    0.0  2092.43   2285.00  2035.63
1         16.27  ...  17.58    5.9   48.0    0.0  3037.22   3314.06  2960.77
2          4.79  ...   5.18    5.9   48.0    0.0   894.31    980.00   862.43
3          4.79  ...   5.18    5.9   48.0    0.0   894.31    980.00   862.43
4          4.79  ...   5.18    5.9   48.0    0.0   894.31    980.00   862.43
...         ...  ...    ...    ...    ...    ...      ...       ...      ...
6573      16.85  ...  18.20    5.9   48.0    0.0  3146.16   3432.72  3067.44
6574       8.77  ...   9.48    5.9   48.0    0.0  1637.98   1790.00  1590.62
6575       8.77  ...   9.48    5.9   48.0    0.0  1637.98   1790.00  1590.62
6576      17.24  ...  18.79    3.3   48.0    0.0  3221.07   3511.84  3299.38
6577       8.73  ...   9.43    5.9   48.0    0.0  1628.80   1780.00  1581.63

             DOTAX7 DOTAX8    DOTAX9
GARANTIE
0          6.856294      0  188.3187
1          9.952306      0  273.3498
2          2.930862      0   80.4879
3          2.930862      0   80.4879
4          2.930862      0   80.4879
...             ...    ...       ...
6573      10.309030      0  283.1544
6574       5.367008      0  147.4182
6575       5.367008      0  147.4182
6576      10.711262      0  289.8963
6577       5.336914      0  146.5920

[6578 rows x 29 columns]

In [30]:
new_df_pivot_all[(new_df_pivot_all["CONTRAT"]=='8868') & (new_df_pivot_all["NC"]=='1')]

         CONTRAT NC     COM       HT                                         \
GARANTIE                       G01ht   G02ht   G03ht  G04ht   G05ht   G06ht
6576        8868  1  212.46  1955.44  651.82  217.28  72.42  145.93  160.94

                 ...    TTC                      totalht1 totalttc1    DOREV  \
GARANTIE  G07ht  ... G07ttc G08ttc GFGttc SINttc
6576      17.24  ...  18.79    3.3   48.0    0.0  3221.07   3511.84  3299.38

             DOTAX7 DOTAX8    DOTAX9
GARANTIE
6576      10.711262      0  289.8963

[1 rows x 29 columns]

In [32]:
df4=new_df_pivot_all[(new_df_pivot_all["CONTRAT"]=='11486') & (new_df_pivot_all["NC"]=='900')]

In [34]:
df4.to_csv("df4.csv",sep='\t')