In [209]:
import pandas as pd
import numpy as np
import pyodbc

In [210]:
conn = pyodbc.connect('DSN=WINPASS_SATEC_RO_64;')

In [211]:
sql1 = "select * from table_cg2"

In [212]:
df = pd.read_sql_query(sql=sql1, con=conn)

In [213]:
df.columns

Index(['f_NCONTRAT', 'CONTRAT', 'NC', 'REF_CGAIM', 'LCGAIM', 'AGENCE',
       'AGENCE_A1', 'AGENCE_A2', 'AGENCE_CP', 'AGENCE_VILLE', 'CHANTIER1',
       'CHANTIER2', 'CHANTIER3', 'CPCHANTIER', 'VILLECHANT', 'Debut', 'Fin',
       'NATURE1', 'NATURE2', 'NATURE3', 'COUTTX', 'COUTTX1', 'COUTTX2',
       'COUTTX3', 'COUTTX4', 'COUTTX5', 'COUTTX6', 'COUTTX7', 'COUTTX8',
       'COUTTX9', 'GARANTIE', 'GARANTIEG', 'FRAIS', 'PRIME', 'HT', 'TTC',
       'PRIMEG', 'TTCG', 'COM', 'ligq_commission', 'DTSITUATION', 'DOMAGIS_ON',
       'DTRECOUVREMENT', 'MOUVEMENT', 'STATUT', 'TXCOM'],
      dtype='object')

In [241]:
df1_ttc = df.pivot_table(index=['CONTRAT', 'NC', 'COM','ligq_commission'],
                             columns =['GARANTIE'], 
                             values =['TTCG']).fillna(0);df1_ttc

                                      TTCG                                 \
GARANTIE                               G01     G02     G03    G04     G05
CONTRAT NC COM    ligq_commission
10778   2  0.00   0.00                0.00    0.00    0.00   0.00    0.00
           249.37 439.41           1477.94  369.48  164.21  41.05  100.27
        3  0.00   0.00                0.00    0.00    0.00   0.00    0.00
           353.29 637.82           2145.25  536.31  238.36  59.59  145.54
        4  0.00   0.00                0.00    0.00    0.00   0.00    0.00
...                                    ...     ...     ...    ...     ...
8753    9  199.38 343.98           1156.94  289.23  128.55  32.14   78.49
8868    1  0.00   0.00                0.00    0.00    0.00   0.00    0.00
           212.46 418.74           2131.43  710.48  236.84  78.94  156.64
9191    1  0.00   0.00                0.00    0.00    0.00   0.00    0.00
           198.37 342.05           1150.45  287.61  127.82  31.96   78.05


GARANTIE                              G06    G07  G08   GFG
CONTRAT NC COM    ligq_commission
10778   2  0.00   0.00               0.00   0.00  0.0  48.0
           249.37 439.41           114.04  12.11  5.9   0.0
        3  0.00   0.00               0.00   0.00  0.0  48.0
           353.29 637.82           165.53  17.58  5.9   0.0
        4  0.00   0.00               0.00   0.00  0.0  48.0
...                                   ...    ...  ...   ...
8753    9  199.38 343.98            89.27   9.48  5.9   0.0
8868    1  0.00   0.00               0.00   0.00  0.0  48.0
           212.46 418.74           175.42  18.79  3.3   0.0
9191    1  0.00   0.00               0.00   0.00  0.0  48.0
           198.37 342.05            88.78   9.43  5.9   0.0

[12831 rows x 9 columns]

In [215]:
df1_ttc=df1_ttc.groupby(['CONTRAT', 'NC']).sum();df1_ttc

                TTC
GARANTIE        G01     G02     G03    G04     G05     G06    G07  G08   GFG
CONTRAT NC
10778   2   1477.94  369.48  164.21  41.05  100.27  114.04  12.11  5.9  48.0
        3   2145.25  536.31  238.36  59.59  145.54  165.53  17.58  5.9  48.0
        4    631.66  157.92   70.19  17.55   42.86   48.74   5.18  5.9  48.0
        5    631.66  157.92   70.19  17.55   42.86   48.74   5.18  5.9  48.0
        6    631.66  157.92   70.19  17.55   42.86   48.74   5.18  5.9  48.0
...             ...     ...     ...    ...     ...     ...    ...  ...   ...
8753    7   2222.19  555.56  246.91  61.73  150.76  171.47  18.20  5.9  48.0
        8   1156.94  289.23  128.55  32.14   78.49   89.27   9.48  5.9  48.0
        9   1156.94  289.23  128.55  32.14   78.49   89.27   9.48  5.9  48.0
8868    1   2131.43  710.48  236.84  78.94  156.64  175.42  18.79  3.3  48.0
9191    1   1150.45  287.61  127.82  31.96   78.05   88.78   9.43  5.9  48.0

[6324 rows x 9 columns]

In [216]:
df1_ttc=df1_ttc.rename(columns={'G01':'G01ttc','G02':'G02ttc','G03':'G03ttc','G04':'G04ttc','G05':'G05ttc','G06':'G06ttc','G07':'G07ttc','G08':'G08ttc','GFG':'GFGttc','SIN':'SINttc'});df1_ttc

                TTC                                                       \
GARANTIE     G01ttc  G02ttc  G03ttc G04ttc  G05ttc  G06ttc G07ttc G08ttc
CONTRAT NC
10778   2   1477.94  369.48  164.21  41.05  100.27  114.04  12.11    5.9
        3   2145.25  536.31  238.36  59.59  145.54  165.53  17.58    5.9
        4    631.66  157.92   70.19  17.55   42.86   48.74   5.18    5.9
        5    631.66  157.92   70.19  17.55   42.86   48.74   5.18    5.9
        6    631.66  157.92   70.19  17.55   42.86   48.74   5.18    5.9
...             ...     ...     ...    ...     ...     ...    ...    ...
8753    7   2222.19  555.56  246.91  61.73  150.76  171.47  18.20    5.9
        8   1156.94  289.23  128.55  32.14   78.49   89.27   9.48    5.9
        9   1156.94  289.23  128.55  32.14   78.49   89.27   9.48    5.9
8868    1   2131.43  710.48  236.84  78.94  156.64  175.42  18.79    3.3
9191    1   1150.45  287.61  127.82  31.96   78.05   88.78   9.43    5.9


GARANTIE   GFGttc
CONTRAT NC
10778   2    48.0
        3    48.0
        4    48.0
        5    48.0
        6    48.0
...           ...
8753    7    48.0
        8    48.0
        9    48.0
8868    1    48.0
9191    1    48.0

[6324 rows x 9 columns]

In [217]:
df1_ht = df.pivot_table(index=['CONTRAT', 'NC',  'COM', 'ligq_commission'],                             
                             columns =['GARANTIE'], 
                             values =['PRIMEG']).fillna(0);df1_ht

                                    PRIMEG                                 \
GARANTIE                               G01     G02     G03    G04     G05
CONTRAT NC COM    ligq_commission
10778   2  0.00   0.00                0.00    0.00    0.00   0.00    0.00
           249.37 439.41           1355.91  338.97  150.65  37.66   93.41
        3  0.00   0.00                0.00    0.00    0.00   0.00    0.00
           353.29 637.82           1968.12  492.03  218.68  54.67  135.59
        4  0.00   0.00                0.00    0.00    0.00   0.00    0.00
...                                    ...     ...     ...    ...     ...
8753    9  199.38 343.98           1061.41  265.35  117.94  29.49   73.12
8868    1  0.00   0.00                0.00    0.00    0.00   0.00    0.00
           212.46 418.74           1955.44  651.82  217.28  72.42  145.93
9191    1  0.00   0.00                0.00    0.00    0.00   0.00    0.00
           198.37 342.05           1055.46  263.86  117.27  29.32   72.71


GARANTIE                              G06    G07  G08   GFG
CONTRAT NC COM    ligq_commission
10778   2  0.00   0.00               0.00   0.00  0.0  48.0
           249.37 439.41           104.62  11.21  5.9   0.0
        3  0.00   0.00               0.00   0.00  0.0  48.0
           353.29 637.82           151.86  16.27  5.9   0.0
        4  0.00   0.00               0.00   0.00  0.0  48.0
...                                   ...    ...  ...   ...
8753    9  199.38 343.98            81.90   8.77  5.9   0.0
8868    1  0.00   0.00               0.00   0.00  0.0  48.0
           212.46 418.74           160.94  17.24  3.3   0.0
9191    1  0.00   0.00               0.00   0.00  0.0  48.0
           198.37 342.05            81.45   8.73  5.9   0.0

[12831 rows x 9 columns]

In [218]:
df1_ht=df1_ht.groupby(['CONTRAT', 'NC']).sum() ;df1_ht

             PRIMEG
GARANTIE        G01     G02     G03    G04     G05     G06    G07  G08   GFG
CONTRAT NC
10778   2   1355.91  338.97  150.65  37.66   93.41  104.62  11.21  5.9  48.0
        3   1968.12  492.03  218.68  54.67  135.59  151.86  16.27  5.9  48.0
        4    579.50  144.88   64.39  16.10   39.93   44.72   4.79  5.9  48.0
        5    579.50  144.88   64.39  16.10   39.93   44.72   4.79  5.9  48.0
        6    579.50  144.88   64.39  16.10   39.93   44.72   4.79  5.9  48.0
...             ...     ...     ...    ...     ...     ...    ...  ...   ...
8753    7   2038.71  509.69  226.52  56.63  140.45  157.31  16.85  5.9  48.0
        8   1061.41  265.35  117.94  29.49   73.12   81.90   8.77  5.9  48.0
        9   1061.41  265.35  117.94  29.49   73.12   81.90   8.77  5.9  48.0
8868    1   1955.44  651.82  217.28  72.42  145.93  160.94  17.24  3.3  48.0
9191    1   1055.46  263.86  117.27  29.32   72.71   81.45   8.73  5.9  48.0

[6324 rows x 9 columns]

In [219]:
df1_ht=df1_ht.rename(columns={'G01':'G01ht','G02':'G02ht','G03':'G03ht','G04':'G04ht','G05':'G05ht','G06':'G06ht','G07':'G07ht','G08':'G08ht','GFG':'GFGht','SIN':'SINht'});df1_ht

             PRIMEG
GARANTIE      G01ht   G02ht   G03ht  G04ht   G05ht   G06ht  G07ht G08ht GFGht
CONTRAT NC
10778   2   1355.91  338.97  150.65  37.66   93.41  104.62  11.21   5.9  48.0
        3   1968.12  492.03  218.68  54.67  135.59  151.86  16.27   5.9  48.0
        4    579.50  144.88   64.39  16.10   39.93   44.72   4.79   5.9  48.0
        5    579.50  144.88   64.39  16.10   39.93   44.72   4.79   5.9  48.0
        6    579.50  144.88   64.39  16.10   39.93   44.72   4.79   5.9  48.0
...             ...     ...     ...    ...     ...     ...    ...   ...   ...
8753    7   2038.71  509.69  226.52  56.63  140.45  157.31  16.85   5.9  48.0
        8   1061.41  265.35  117.94  29.49   73.12   81.90   8.77   5.9  48.0
        9   1061.41  265.35  117.94  29.49   73.12   81.90   8.77   5.9  48.0
8868    1   1955.44  651.82  217.28  72.42  145.93  160.94  17.24   3.3  48.0
9191    1   1055.46  263.86  117.27  29.32   72.71   81.45   8.73   5.9  48.0

[6324 rows x 9 columns]

In [220]:
df1_infos= df[['f_NCONTRAT', 'CONTRAT', 'NC','COM', 'ligq_commission', 'REF_CGAIM', 'LCGAIM', 'AGENCE','AGENCE_A1', 'AGENCE_A2', 'AGENCE_CP', 'AGENCE_VILLE',
                    'CHANTIER1','CHANTIER2', 'CHANTIER3', 'CPCHANTIER', 'VILLECHANT', 'Debut', 'Fin', 'NATURE1', 'NATURE2', 'NATURE3', 'COUTTX', 'COUTTX1', 
                    'COUTTX2','COUTTX3', 'COUTTX4', 'COUTTX5', 'COUTTX6', 'COUTTX7', 'COUTTX8','COUTTX9',  'DTSITUATION', 'DOMAGIS_ON','DTRECOUVREMENT',  'MOUVEMENT', 'STATUT', 'TXCOM']];df1_infos

,f_NCONTRAT,CONTRAT,NC,COM,ligq_commission,REF_CGAIM,LCGAIM,AGENCE,AGENCE_A1,AGENCE_A2,...,COUTTX6,COUTTX7,COUTTX8,COUTTX9,DTSITUATION,DOMAGIS_ON,DTRECOUVREMENT,MOUVEMENT,STATUT,TXCOM
0,10778/2,10778,2,249.37,439.41,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,...,0.0,0.0,0.0,0.0,2016-10-01,DOMAGIS,2017-03-08 00:00:00.000,44,Modification,11.0
1,10778/2,10778,2,249.37,439.41,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,...,0.0,0.0,0.0,0.0,2016-10-01,DOMAGIS,2017-03-08 00:00:00.000,44,Modification,11.0
2,10778/2,10778,2,249.37,439.41,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,...,0.0,0.0,0.0,0.0,2016-10-01,DOMAGIS,2017-03-08 00:00:00.000,44,Modification,11.0
3,10778/2,10778,2,249.37,439.41,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,...,0.0,0.0,0.0,0.0,2016-10-01,DOMAGIS,2017-03-08 00:00:00.000,44,Modification,11.0
4,10778/2,10778,2,249.37,439.41,27039,27039,AGENCE DU CAP,Avenue de la Jetée,,...,0.0,0.0,0.0,0.0,2016-10-01,DOMAGIS,2017-03-08 00:00:00.000,44,Modification,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56962,9191/1,9191,1,198.37,342.05,None,None,IMMOBILIERE LORI,26 avenue Gabriel Péri,,...,0.0,0.0,0.0,0.0,2021-05-08,DOMAGIS,2022-03-23 13:58:14.380,44,Modification,11.0
56963,9191/1,9191,1,198.37,342.05,None,None,IMMOBILIERE LORI,26 avenue Gabriel Péri,,...,0.0,0.0,0.0,0.0,2021-05-08,DOMAGIS,2022-03-23 13:58:14.380,44,Modification,11.0
56964,9191/1,9191,1,198.37,342.05,None,None,IMMOBILIERE LORI,26 avenue Gabriel Péri,,...,0.0,0.0,0.0,0.0,2021-05-08,DOMAGIS,2022-03-23 13:58:14.380,44,Modification,11.0
56965,9191/1,9191,1,198.37,342.05,None,None,IMMOBILIERE LORI,26 avenue Gabriel Péri,,...,0.0,0.0,0.0,0.0,2021-05-08,DOMAGIS,2022-03-23 13:58:14.380,44,Modification,11.0
56966,9191/1,9191,1,0.00,0.00,None,None,IMMOBILIERE LORI,26 avenue Gabriel Péri,,...,0.0,0.0,0.0,0.0,2021-05-08,DOMAGIS,2022-03-23 13:58:14.380,44,Modification,11.0

In [221]:
df1_infos.drop_duplicates().reset_index()

,index,f_NCONTRAT,CONTRAT,NC,COM,ligq_commission,REF_CGAIM,LCGAIM,AGENCE,AGENCE_A1,...,COUTTX6,COUTTX7,COUTTX8,COUTTX9,DTSITUATION,DOMAGIS_ON,DTRECOUVREMENT,MOUVEMENT,STATUT,TXCOM
0,0,10778/2,10778,2,249.37,439.41,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2016-10-01,DOMAGIS,2017-03-08 00:00:00.000,44,Modification,11.0
1,8,10778/2,10778,2,0.00,0.00,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2016-10-01,DOMAGIS,2017-03-08 00:00:00.000,44,Modification,11.0
2,9,10778/3,10778,3,353.29,637.82,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2018-09-24,DOMAGIS,2018-09-20 13:53:13.907,44,Modification,11.0
3,17,10778/3,10778,3,0.00,0.00,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2018-09-24,DOMAGIS,2018-09-20 13:53:13.907,44,Modification,11.0
4,18,10778/4,10778,4,117.57,187.80,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2019-11-04,DOMAGIS,2019-08-27 15:45:35.993,39,Ajout,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12844,56948,8753/9,8753,9,0.00,0.00,25 772,25 772,BILAN PATRIMOINE,Résidence l' Alcyone,...,0.0,0.0,0.0,0.0,2017-11-15,DOMAGIS,2017-09-29 10:08:03.610,44,Modification,11.0
12845,56949,8868/1,8868,1,212.46,418.74,100482,100482,A G ENCE STRASBOURG IMMOBILIERE,Le Mathis,...,0.0,0.0,0.0,0.0,2015-10-01,DOMAGIS,2015-10-20 00:00:00.000,1,Ajout,6.0
12846,56957,8868/1,8868,1,0.00,0.00,100482,100482,A G ENCE STRASBOURG IMMOBILIERE,Le Mathis,...,0.0,0.0,0.0,0.0,2015-10-01,DOMAGIS,2015-10-20 00:00:00.000,1,Ajout,6.0
12847,56958,9191/1,9191,1,198.37,342.05,None,None,IMMOBILIERE LORI,26 avenue Gabriel Péri,...,0.0,0.0,0.0,0.0,2021-05-08,DOMAGIS,2022-03-23 13:58:14.380,44,Modification,11.0
12848,56966,9191/1,9191,1,0.00,0.00,None,None,IMMOBILIERE LORI,26 avenue Gabriel Péri,...,0.0,0.0,0.0,0.0,2021-05-08,DOMAGIS,2022-03-23 13:58:14.380,44,Modification,11.0

In [153]:
df1_infos.to_csv("dfinfo37.csv",sep='\t')

In [230]:
df2 = df1_ht.merge( df1_ttc, on=['CONTRAT', 'NC']);df2

             PRIMEG                                                            \
GARANTIE      G01ht   G02ht   G03ht  G04ht   G05ht   G06ht  G07ht G08ht GFGht
CONTRAT NC
10778   2   1355.91  338.97  150.65  37.66   93.41  104.62  11.21   5.9  48.0
        3   1968.12  492.03  218.68  54.67  135.59  151.86  16.27   5.9  48.0
        4    579.50  144.88   64.39  16.10   39.93   44.72   4.79   5.9  48.0
        5    579.50  144.88   64.39  16.10   39.93   44.72   4.79   5.9  48.0
        6    579.50  144.88   64.39  16.10   39.93   44.72   4.79   5.9  48.0
...             ...     ...     ...    ...     ...     ...    ...   ...   ...
8753    7   2038.71  509.69  226.52  56.63  140.45  157.31  16.85   5.9  48.0
        8   1061.41  265.35  117.94  29.49   73.12   81.90   8.77   5.9  48.0
        9   1061.41  265.35  117.94  29.49   73.12   81.90   8.77   5.9  48.0
8868    1   1955.44  651.82  217.28  72.42  145.93  160.94  17.24   3.3  48.0
9191    1   1055.46  263.86  117.27  29.32   72.71   81.45   8.73   5.9  48.0

                TTC                                                       \
GARANTIE     G01ttc  G02ttc  G03ttc G04ttc  G05ttc  G06ttc G07ttc G08ttc
CONTRAT NC
10778   2   1477.94  369.48  164.21  41.05  100.27  114.04  12.11    5.9
        3   2145.25  536.31  238.36  59.59  145.54  165.53  17.58    5.9
        4    631.66  157.92   70.19  17.55   42.86   48.74   5.18    5.9
        5    631.66  157.92   70.19  17.55   42.86   48.74   5.18    5.9
        6    631.66  157.92   70.19  17.55   42.86   48.74   5.18    5.9
...             ...     ...     ...    ...     ...     ...    ...    ...
8753    7   2222.19  555.56  246.91  61.73  150.76  171.47  18.20    5.9
        8   1156.94  289.23  128.55  32.14   78.49   89.27   9.48    5.9
        9   1156.94  289.23  128.55  32.14   78.49   89.27   9.48    5.9
8868    1   2131.43  710.48  236.84  78.94  156.64  175.42  18.79    3.3
9191    1   1150.45  287.61  127.82  31.96   78.05   88.78   9.43    5.9


GARANTIE   GFGttc
CONTRAT NC
10778   2    48.0
        3    48.0
        4    48.0
        5    48.0
        6    48.0
...           ...
8753    7    48.0
        8    48.0
        9    48.0
8868    1    48.0
9191    1    48.0

[6324 rows x 18 columns]

In [190]:
df2.reset_index()

         CONTRAT NC   PRIMEG                                                \
GARANTIE               G01ht   G02ht   G03ht  G04ht   G05ht   G06ht  G07ht
0          10778  2  1355.91  338.97  150.65  37.66   93.41  104.62  11.21
1          10778  3  1968.12  492.03  218.68  54.67  135.59  151.86  16.27
2          10778  4   579.50  144.88   64.39  16.10   39.93   44.72   4.79
3          10778  5   579.50  144.88   64.39  16.10   39.93   44.72   4.79
4          10778  6   579.50  144.88   64.39  16.10   39.93   44.72   4.79
...          ... ..      ...     ...     ...    ...     ...     ...    ...
6319        8753  7  2038.71  509.69  226.52  56.63  140.45  157.31  16.85
6320        8753  8  1061.41  265.35  117.94  29.49   73.12   81.90   8.77
6321        8753  9  1061.41  265.35  117.94  29.49   73.12   81.90   8.77
6322        8868  1  1955.44  651.82  217.28  72.42  145.93  160.94  17.24
6323        9191  1  1055.46  263.86  117.27  29.32   72.71   81.45   8.73

                          TTC                                                \
GARANTIE G08ht GFGht   G01ttc  G02ttc  G03ttc G04ttc  G05ttc  G06ttc G07ttc
0          5.9  48.0  1477.94  369.48  164.21  41.05  100.27  114.04  12.11
1          5.9  48.0  2145.25  536.31  238.36  59.59  145.54  165.53  17.58
2          5.9  48.0   631.66  157.92   70.19  17.55   42.86   48.74   5.18
3          5.9  48.0   631.66  157.92   70.19  17.55   42.86   48.74   5.18
4          5.9  48.0   631.66  157.92   70.19  17.55   42.86   48.74   5.18
...        ...   ...      ...     ...     ...    ...     ...     ...    ...
6319       5.9  48.0  2222.19  555.56  246.91  61.73  150.76  171.47  18.20
6320       5.9  48.0  1156.94  289.23  128.55  32.14   78.49   89.27   9.48
6321       5.9  48.0  1156.94  289.23  128.55  32.14   78.49   89.27   9.48
6322       3.3  48.0  2131.43  710.48  236.84  78.94  156.64  175.42  18.79
6323       5.9  48.0  1150.45  287.61  127.82  31.96   78.05   88.78   9.43


GARANTIE G08ttc GFGttc
0           5.9   48.0
1           5.9   48.0
2           5.9   48.0
3           5.9   48.0
4           5.9   48.0
...         ...    ...
6319        5.9   48.0
6320        5.9   48.0
6321        5.9   48.0
6322        3.3   48.0
6323        5.9   48.0

[6324 rows x 20 columns]

In [223]:
df2["totalht1"] = df2[("PRIMEG","G01ht")]+df2[("PRIMEG","G02ht")]+df2[("PRIMEG","G03ht")] + df2[("PRIMEG","G04ht")]+df2[("PRIMEG","G05ht")]+df2[("PRIMEG","G06ht")] +df2[("PRIMEG","G07ht")]#+new_df_pivot_all[("HT","G08ht")]

In [224]:
df2["totalttc1"] = df2[("TTCG","G01ttc")]+df2[("TTCG","G02ttc")]+df2[("TTCG","G03ttc")] + df2[("TTCG","G04ttc")]+df2[("TTCG","G05ttc")]+df2[("TTCG","G06ttc")] +df2[("TTCG","G07ttc")]+df2[("TTCG","G08ttc")]

In [231]:
df2[("TTC","G01ttc")]

CONTRAT  NC
10778    2     1477.94
         3     2145.25
         4      631.66
         5      631.66
         6      631.66
                ...
8753     7     2222.19
         8     1156.94
         9     1156.94
8868     1     2131.43
9191     1     1150.45
Name: (TTC, G01ttc), Length: 6324, dtype: float64

In [225]:
df2.columns

MultiIndex([(   'PRIMEG',  'G01ht'),
            (   'PRIMEG',  'G02ht'),
            (   'PRIMEG',  'G03ht'),
            (   'PRIMEG',  'G04ht'),
            (   'PRIMEG',  'G05ht'),
            (   'PRIMEG',  'G06ht'),
            (   'PRIMEG',  'G07ht'),
            (   'PRIMEG',  'G08ht'),
            (   'PRIMEG',  'GFGht'),
            (      'TTC', 'G01ttc'),
            (      'TTC', 'G02ttc'),
            (      'TTC', 'G03ttc'),
            (      'TTC', 'G04ttc'),
            (      'TTC', 'G05ttc'),
            (      'TTC', 'G06ttc'),
            (      'TTC', 'G07ttc'),
            (      'TTC', 'G08ttc'),
            (      'TTC', 'GFGttc'),
            ( 'totalht1',       ''),
            ('totalttc1',       '')],
           names=[None, 'GARANTIE'])

In [226]:
df2

             PRIMEG                                                            \
GARANTIE      G01ht   G02ht   G03ht  G04ht   G05ht   G06ht  G07ht G08ht GFGht
CONTRAT NC
10778   2   1355.91  338.97  150.65  37.66   93.41  104.62  11.21   5.9  48.0
        3   1968.12  492.03  218.68  54.67  135.59  151.86  16.27   5.9  48.0
        4    579.50  144.88   64.39  16.10   39.93   44.72   4.79   5.9  48.0
        5    579.50  144.88   64.39  16.10   39.93   44.72   4.79   5.9  48.0
        6    579.50  144.88   64.39  16.10   39.93   44.72   4.79   5.9  48.0
...             ...     ...     ...    ...     ...     ...    ...   ...   ...
8753    7   2038.71  509.69  226.52  56.63  140.45  157.31  16.85   5.9  48.0
        8   1061.41  265.35  117.94  29.49   73.12   81.90   8.77   5.9  48.0
        9   1061.41  265.35  117.94  29.49   73.12   81.90   8.77   5.9  48.0
8868    1   1955.44  651.82  217.28  72.42  145.93  160.94  17.24   3.3  48.0
9191    1   1055.46  263.86  117.27  29.32   72.71   81.45   8.73   5.9  48.0

                TTC                                                       \
GARANTIE     G01ttc  G02ttc  G03ttc G04ttc  G05ttc  G06ttc G07ttc G08ttc
CONTRAT NC
10778   2   1477.94  369.48  164.21  41.05  100.27  114.04  12.11    5.9
        3   2145.25  536.31  238.36  59.59  145.54  165.53  17.58    5.9
        4    631.66  157.92   70.19  17.55   42.86   48.74   5.18    5.9
        5    631.66  157.92   70.19  17.55   42.86   48.74   5.18    5.9
        6    631.66  157.92   70.19  17.55   42.86   48.74   5.18    5.9
...             ...     ...     ...    ...     ...     ...    ...    ...
8753    7   2222.19  555.56  246.91  61.73  150.76  171.47  18.20    5.9
        8   1156.94  289.23  128.55  32.14   78.49   89.27   9.48    5.9
        9   1156.94  289.23  128.55  32.14   78.49   89.27   9.48    5.9
8868    1   2131.43  710.48  236.84  78.94  156.64  175.42  18.79    3.3
9191    1   1150.45  287.61  127.82  31.96   78.05   88.78   9.43    5.9

                  totalht1 totalttc1
GARANTIE   GFGttc
CONTRAT NC
10778   2    48.0  2092.43   2285.00
        3    48.0  3037.22   3314.06
        4    48.0   894.31    980.00
        5    48.0   894.31    980.00
        6    48.0   894.31    980.00
...           ...      ...       ...
8753    7    48.0  3146.16   3432.72
        8    48.0  1637.98   1790.00
        9    48.0  1637.98   1790.00
8868    1    48.0  3221.07   3511.84
9191    1    48.0  1628.80   1780.00

[6324 rows x 20 columns]

In [227]:
df2.reset_index();df2

             PRIMEG                                                            \
GARANTIE      G01ht   G02ht   G03ht  G04ht   G05ht   G06ht  G07ht G08ht GFGht
CONTRAT NC
10778   2   1355.91  338.97  150.65  37.66   93.41  104.62  11.21   5.9  48.0
        3   1968.12  492.03  218.68  54.67  135.59  151.86  16.27   5.9  48.0
        4    579.50  144.88   64.39  16.10   39.93   44.72   4.79   5.9  48.0
        5    579.50  144.88   64.39  16.10   39.93   44.72   4.79   5.9  48.0
        6    579.50  144.88   64.39  16.10   39.93   44.72   4.79   5.9  48.0
...             ...     ...     ...    ...     ...     ...    ...   ...   ...
8753    7   2038.71  509.69  226.52  56.63  140.45  157.31  16.85   5.9  48.0
        8   1061.41  265.35  117.94  29.49   73.12   81.90   8.77   5.9  48.0
        9   1061.41  265.35  117.94  29.49   73.12   81.90   8.77   5.9  48.0
8868    1   1955.44  651.82  217.28  72.42  145.93  160.94  17.24   3.3  48.0
9191    1   1055.46  263.86  117.27  29.32   72.71   81.45   8.73   5.9  48.0

                TTC                                                       \
GARANTIE     G01ttc  G02ttc  G03ttc G04ttc  G05ttc  G06ttc G07ttc G08ttc
CONTRAT NC
10778   2   1477.94  369.48  164.21  41.05  100.27  114.04  12.11    5.9
        3   2145.25  536.31  238.36  59.59  145.54  165.53  17.58    5.9
        4    631.66  157.92   70.19  17.55   42.86   48.74   5.18    5.9
        5    631.66  157.92   70.19  17.55   42.86   48.74   5.18    5.9
        6    631.66  157.92   70.19  17.55   42.86   48.74   5.18    5.9
...             ...     ...     ...    ...     ...     ...    ...    ...
8753    7   2222.19  555.56  246.91  61.73  150.76  171.47  18.20    5.9
        8   1156.94  289.23  128.55  32.14   78.49   89.27   9.48    5.9
        9   1156.94  289.23  128.55  32.14   78.49   89.27   9.48    5.9
8868    1   2131.43  710.48  236.84  78.94  156.64  175.42  18.79    3.3
9191    1   1150.45  287.61  127.82  31.96   78.05   88.78   9.43    5.9

                  totalht1 totalttc1
GARANTIE   GFGttc
CONTRAT NC
10778   2    48.0  2092.43   2285.00
        3    48.0  3037.22   3314.06
        4    48.0   894.31    980.00
        5    48.0   894.31    980.00
        6    48.0   894.31    980.00
...           ...      ...       ...
8753    7    48.0  3146.16   3432.72
        8    48.0  1637.98   1790.00
        9    48.0  1637.98   1790.00
8868    1    48.0  3221.07   3511.84
9191    1    48.0  1628.80   1780.00

[6324 rows x 20 columns]

In [194]:
df2_infos=df1_infos.drop_duplicates().reset_index()

In [229]:
df2[("TTC","G01ttc")]

CONTRAT  NC
10778    2     1477.94
         3     2145.25
         4      631.66
         5      631.66
         6      631.66
                ...
8753     7     2222.19
         8     1156.94
         9     1156.94
8868     1     2131.43
9191     1     1150.45
Name: (TTC, G01ttc), Length: 6324, dtype: float64

In [195]:
df2_infos

,index,f_NCONTRAT,CONTRAT,NC,COM,ligq_commission,REF_CGAIM,LCGAIM,AGENCE,AGENCE_A1,...,COUTTX6,COUTTX7,COUTTX8,COUTTX9,DTSITUATION,DOMAGIS_ON,DTRECOUVREMENT,MOUVEMENT,STATUT,TXCOM
0,0,10778/2,10778,2,249.37,439.41,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2016-10-01,DOMAGIS,2017-03-08 00:00:00.000,44,Modification,11.0
1,8,10778/2,10778,2,0.00,0.00,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2016-10-01,DOMAGIS,2017-03-08 00:00:00.000,44,Modification,11.0
2,9,10778/3,10778,3,353.29,637.82,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2018-09-24,DOMAGIS,2018-09-20 13:53:13.907,44,Modification,11.0
3,17,10778/3,10778,3,0.00,0.00,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2018-09-24,DOMAGIS,2018-09-20 13:53:13.907,44,Modification,11.0
4,18,10778/4,10778,4,117.57,187.80,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2019-11-04,DOMAGIS,2019-08-27 15:45:35.993,39,Ajout,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12844,56948,8753/9,8753,9,0.00,0.00,25 772,25 772,BILAN PATRIMOINE,Résidence l' Alcyone,...,0.0,0.0,0.0,0.0,2017-11-15,DOMAGIS,2017-09-29 10:08:03.610,44,Modification,11.0
12845,56949,8868/1,8868,1,212.46,418.74,100482,100482,A G ENCE STRASBOURG IMMOBILIERE,Le Mathis,...,0.0,0.0,0.0,0.0,2015-10-01,DOMAGIS,2015-10-20 00:00:00.000,1,Ajout,6.0
12846,56957,8868/1,8868,1,0.00,0.00,100482,100482,A G ENCE STRASBOURG IMMOBILIERE,Le Mathis,...,0.0,0.0,0.0,0.0,2015-10-01,DOMAGIS,2015-10-20 00:00:00.000,1,Ajout,6.0
12847,56958,9191/1,9191,1,198.37,342.05,None,None,IMMOBILIERE LORI,26 avenue Gabriel Péri,...,0.0,0.0,0.0,0.0,2021-05-08,DOMAGIS,2022-03-23 13:58:14.380,44,Modification,11.0
12848,56966,9191/1,9191,1,0.00,0.00,None,None,IMMOBILIERE LORI,26 avenue Gabriel Péri,...,0.0,0.0,0.0,0.0,2021-05-08,DOMAGIS,2022-03-23 13:58:14.380,44,Modification,11.0

In [196]:
df2_infos[df2_infos['COM']==0]

,index,f_NCONTRAT,CONTRAT,NC,COM,ligq_commission,REF_CGAIM,LCGAIM,AGENCE,AGENCE_A1,...,COUTTX6,COUTTX7,COUTTX8,COUTTX9,DTSITUATION,DOMAGIS_ON,DTRECOUVREMENT,MOUVEMENT,STATUT,TXCOM
1,8,10778/2,10778,2,0.0,0.0,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2016-10-01,DOMAGIS,2017-03-08 00:00:00.000,44,Modification,11.0
3,17,10778/3,10778,3,0.0,0.0,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2018-09-24,DOMAGIS,2018-09-20 13:53:13.907,44,Modification,11.0
5,26,10778/4,10778,4,0.0,0.0,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2019-11-04,DOMAGIS,2019-08-27 15:45:35.993,39,Ajout,11.0
7,35,10778/5,10778,5,0.0,0.0,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2020-04-21,DOMAGIS,2020-06-18 10:37:43.997,44,Modification,11.0
9,44,10778/6,10778,6,0.0,0.0,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2021-01-18,DOMAGIS,2021-01-08 09:18:56.730,44,Modification,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12840,56930,8753/7,8753,7,0.0,0.0,25 772,25 772,BILAN PATRIMOINE,Résidence l' Alcyone,...,0.0,0.0,0.0,0.0,2017-03-01,DOMAGIS,2017-06-08 00:00:00.000,44,Modification,11.0
12842,56939,8753/8,8753,8,0.0,0.0,25 772,25 772,BILAN PATRIMOINE,Résidence l' Alcyone,...,0.0,0.0,0.0,0.0,2017-09-01,DOMAGIS,2017-07-31 00:00:00.000,44,Modification,11.0
12844,56948,8753/9,8753,9,0.0,0.0,25 772,25 772,BILAN PATRIMOINE,Résidence l' Alcyone,...,0.0,0.0,0.0,0.0,2017-11-15,DOMAGIS,2017-09-29 10:08:03.610,44,Modification,11.0
12846,56957,8868/1,8868,1,0.0,0.0,100482,100482,A G ENCE STRASBOURG IMMOBILIERE,Le Mathis,...,0.0,0.0,0.0,0.0,2015-10-01,DOMAGIS,2015-10-20 00:00:00.000,1,Ajout,6.0
12848,56966,9191/1,9191,1,0.0,0.0,None,None,IMMOBILIERE LORI,26 avenue Gabriel Péri,...,0.0,0.0,0.0,0.0,2021-05-08,DOMAGIS,2022-03-23 13:58:14.380,44,Modification,11.0

In [197]:
df2_infos.drop(df2_infos[df2_infos['COM']==0].index, inplace=True)

In [198]:
df2_infos

,index,f_NCONTRAT,CONTRAT,NC,COM,ligq_commission,REF_CGAIM,LCGAIM,AGENCE,AGENCE_A1,...,COUTTX6,COUTTX7,COUTTX8,COUTTX9,DTSITUATION,DOMAGIS_ON,DTRECOUVREMENT,MOUVEMENT,STATUT,TXCOM
0,0,10778/2,10778,2,249.37,439.41,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2016-10-01,DOMAGIS,2017-03-08 00:00:00.000,44,Modification,11.0
2,9,10778/3,10778,3,353.29,637.82,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2018-09-24,DOMAGIS,2018-09-20 13:53:13.907,44,Modification,11.0
4,18,10778/4,10778,4,117.57,187.80,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2019-11-04,DOMAGIS,2019-08-27 15:45:35.993,39,Ajout,11.0
6,27,10778/5,10778,5,117.57,187.80,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2020-04-21,DOMAGIS,2020-06-18 10:37:43.997,44,Modification,11.0
8,36,10778/6,10778,6,117.57,187.80,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,0.0,0.0,0.0,0.0,2021-01-18,DOMAGIS,2021-01-08 09:18:56.730,44,Modification,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12839,56922,8753/7,8753,7,365.28,660.69,25 772,25 772,BILAN PATRIMOINE,Résidence l' Alcyone,...,0.0,0.0,0.0,0.0,2017-03-01,DOMAGIS,2017-06-08 00:00:00.000,44,Modification,11.0
12841,56931,8753/8,8753,8,199.38,343.98,25 772,25 772,BILAN PATRIMOINE,Résidence l' Alcyone,...,0.0,0.0,0.0,0.0,2017-09-01,DOMAGIS,2017-07-31 00:00:00.000,44,Modification,11.0
12843,56940,8753/9,8753,9,199.38,343.98,25 772,25 772,BILAN PATRIMOINE,Résidence l' Alcyone,...,0.0,0.0,0.0,0.0,2017-11-15,DOMAGIS,2017-09-29 10:08:03.610,44,Modification,11.0
12845,56949,8868/1,8868,1,212.46,418.74,100482,100482,A G ENCE STRASBOURG IMMOBILIERE,Le Mathis,...,0.0,0.0,0.0,0.0,2015-10-01,DOMAGIS,2015-10-20 00:00:00.000,1,Ajout,6.0
12847,56958,9191/1,9191,1,198.37,342.05,None,None,IMMOBILIERE LORI,26 avenue Gabriel Péri,...,0.0,0.0,0.0,0.0,2021-05-08,DOMAGIS,2022-03-23 13:58:14.380,44,Modification,11.0

In [199]:
df3=df2_infos.merge(df2, on=['CONTRAT', 'NC'])

D:\anaconda\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

In [200]:
df3

,index,f_NCONTRAT,CONTRAT,NC,COM,ligq_commission,REF_CGAIM,LCGAIM,AGENCE,AGENCE_A1,...,"(TTC, G02ttc)","(TTC, G03ttc)","(TTC, G04ttc)","(TTC, G05ttc)","(TTC, G06ttc)","(TTC, G07ttc)","(TTC, G08ttc)","(TTC, GFGttc)","(totalht1, )","(totalttc1, )"
0,0,10778/2,10778,2,249.37,439.41,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,369.48,164.21,41.05,100.27,114.04,12.11,5.9,48.0,2092.43,2285.00
1,9,10778/3,10778,3,353.29,637.82,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,536.31,238.36,59.59,145.54,165.53,17.58,5.9,48.0,3037.22,3314.06
2,18,10778/4,10778,4,117.57,187.80,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,157.92,70.19,17.55,42.86,48.74,5.18,5.9,48.0,894.31,980.00
3,27,10778/5,10778,5,117.57,187.80,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,157.92,70.19,17.55,42.86,48.74,5.18,5.9,48.0,894.31,980.00
4,36,10778/6,10778,6,117.57,187.80,27039,27039,AGENCE DU CAP,Avenue de la Jetée,...,157.92,70.19,17.55,42.86,48.74,5.18,5.9,48.0,894.31,980.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6506,56922,8753/7,8753,7,365.28,660.69,25 772,25 772,BILAN PATRIMOINE,Résidence l' Alcyone,...,555.56,246.91,61.73,150.76,171.47,18.20,5.9,48.0,3146.16,3432.72
6507,56931,8753/8,8753,8,199.38,343.98,25 772,25 772,BILAN PATRIMOINE,Résidence l' Alcyone,...,289.23,128.55,32.14,78.49,89.27,9.48,5.9,48.0,1637.98,1790.00
6508,56940,8753/9,8753,9,199.38,343.98,25 772,25 772,BILAN PATRIMOINE,Résidence l' Alcyone,...,289.23,128.55,32.14,78.49,89.27,9.48,5.9,48.0,1637.98,1790.00
6509,56949,8868/1,8868,1,212.46,418.74,100482,100482,A G ENCE STRASBOURG IMMOBILIERE,Le Mathis,...,710.48,236.84,78.94,156.64,175.42,18.79,3.3,48.0,3221.07,3511.84
6510,56958,9191/1,9191,1,198.37,342.05,None,None,IMMOBILIERE LORI,26 avenue Gabriel Péri,...,287.61,127.82,31.96,78.05,88.78,9.43,5.9,48.0,1628.80,1780.00

In [172]:
df3.to_csv("df37.csv",sep='\t')

In [240]:
df3.loc[(df3['CONTRAT']=='8753')&(df3['NC']=='4'),['CONTRAT','NC',('TTC','G01ttc'),('TTC','G02ttc'),('TTC','G03ttc'),('TTC','G04ttc'),('TTC','G05ttc'),('TTC','G06ttc'),('TTC','G07ttc'),('TTC','G08ttc')]]

,CONTRAT,NC,"(TTC, G01ttc)","(TTC, G02ttc)","(TTC, G03ttc)","(TTC, G04ttc)","(TTC, G05ttc)","(TTC, G06ttc)","(TTC, G07ttc)","(TTC, G08ttc)"
6503,8753,4,4727.56,1181.89,525.28,131.32,320.74,364.78,38.74,5.9