In [2]:
import pandas as pd

In [4]:
df=[["tete","liste","test"],[1,2,3],[4,5,6],[7,8,9],[10,11,12]]

In [6]:
df4= pd.DataFrame(df)

In [7]:
df4

      0      1     2
0  tete  liste  test
1     1      2     3
2     4      5     6
3     7      8     9
4    10     11    12

In [9]:
df4[[1]]

       1
0  liste
1      2
2      5
3      8
4     11

In [10]:
df4.index=df4["liste"]

KeyError: 'liste'

In [11]:
df5 = pd.DataFrame(df, columns = ["tete","liste","test"])

In [12]:
df5

   tete  liste  test
0  tete  liste  test
1     1      2     3
2     4      5     6
3     7      8     9
4    10     11    12

In [13]:
df=[[1,2,3],[4,5,6],[7,8,9],[10,11,12]]

In [14]:
df5 = pd.DataFrame(df, columns = ["tete","liste","test"])

In [15]:
df5

   tete  liste  test
0     1      2     3
1     4      5     6
2     7      8     9
3    10     11    12

In [16]:
df5 = df5.set_index('tete')

In [17]:
df5

      liste  test
tete
1         2     3
4         5     6
7         8     9
10       11    12

In [18]:
df = pd.DataFrame({'month': [1, 4, 7, 10],

                   'year': [2012, 2014, 2013, 2014],

                   'sale': [55, 40, 84, 31]})
df

   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

In [19]:
import datetime

In [21]:
import time
>>> from datetime import date
>>> today = date.today()
>>> today

datetime.date(2020, 10, 31)

In [29]:
end_date=today.strftime('%d/%m/%Y')
end_date

'31/10/2020'

In [33]:
start_date = (today - datetime.timedelta(days=8)).strftime('%d/%m/%Y')
start_date

'23/10/2020'

In [49]:
import datetime
a=datetime.datetime.strptime("01/01/2020", "%d/%m/%Y")
type(a)

datetime.datetime

In [52]:
from datetime import date

d0 = date(2008, 1, 1)
d1 = date(2008, 6, 15)
delta = d1 - d0
print (delta.days)

166

In [53]:
type(d0)

datetime.date

In [54]:
d0

datetime.date(2008, 1, 1)

In [56]:
from datetime import timedelta

year = timedelta(days=365)

In [57]:
d2 = today+year

In [58]:
d2

datetime.date(2021, 10, 31)

In [59]:
d3 = d2 - timedelta(days=5)
d3

datetime.date(2021, 10, 26)