In [6]:
import pandas as pd
import numpy as np
import pyodbc

In [4]:
df = pd.DataFrame({'CONTRAT':['C1', 'C1','C1','C2','C2'], 
                   'GARANTIE':['G01', 'G02','G03','G01','G03'],
                   'HT':[10.0,11.0,12.0,21.0,22.0],
                   'TTC':[15.0,16.0,17.0,29.0,30.0]
                  });df

  CONTRAT GARANTIE    HT   TTC
0      C1      G01  10.0  15.0
1      C1      G02  11.0  16.0
2      C1      G03  12.0  17.0
3      C2      G01  21.0  29.0
4      C2      G03  22.0  30.0

In [7]:
conn = pyodbc.connect('DSN=WINPASS_SATEC_RO_64;')

In [8]:
sql1 = "select * from table_cg1  where CONTRAT in( '10778', '11244','10933', '11026','11296','11300','11323','11355','11357','11365') "

In [9]:
df = pd.read_sql_query(sql=sql1, con=conn)

In [11]:
df.columns

Index(['f_NCONTRAT', 'CONTRAT', 'NC', 'REF_CGAIM', 'LCGAIM', 'AGENCE',
       'AGENCE_A1', 'AGENCE_A2', 'AGENCE_CP', 'AGENCE_VILLE', 'CHANTIER1',
       'CHANTIER2', 'CHANTIER3', 'CPCHANTIER', 'VILLECHANT', 'Debut', 'Fin',
       'NATURE1', 'NATURE2', 'NATURE3', 'COUTTX', 'COUTTX1', 'COUTTX2',
       'COUTTX3', 'COUTTX4', 'COUTTX5', 'COUTTX6', 'COUTTX7', 'COUTTX8',
       'COUTTX9', 'GARANTIE', 'GARANTIEG', 'FRAIS', 'PRIME', 'HT', 'TTC',
       'PRIMEG', 'TTCG', 'COM', 'ligq_commission', 'DTSITUATION', 'DOMAGIS_ON',
       'DTRECOUVREMENT', 'MOUVEMENT', 'STATUT', 'TXCOM'],
      dtype='object')